<!--partials/footer.html-->
<footer class="footer">
    <div class="footer-content">
        <h3>Contact Us</h3>
        <p>Email: <a href="mailto:"a></a>
        <p>Phone: <a href="tel:+639123456789">+63 912 345 6789</a></p>
        <p>Website: <a href="https://www.cabadbaran.gov.ph" target="_blank">www.cabadbaran.gov.ph</a></p>
        <p>Follow us on:</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/cabadbarancityofficial" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com/cabadbarancity" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/cabadbarancity/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/c/cabadbarancityofficial" target="_blank"><i class="fa-brands fa-youtube"></i></i></a>
        </div>
        <p>Address: Sangguniang Panglungsod Office, Cabadbaran City, Philippines</p>
        <div class="socials">
        <p>&copy; 2025 City of Cabadbaran. All rights reserved.</p>
        <p>Developer Name: Janrelle L. Lubiano</p>
        <p>Contact: <a href="mailto:lubianojanrelle@gmail.com">lubianojanrelle@gmail.com</a></p>
        
    </div>
</footer>