
<!--partials/nav.html-->
<button class="hamburger" id="hamburger-btn">
    <i class="fa-solid fa-bars"></i>
</button>
<div class="overlay" id="overlay"></div>
<nav class="menu" id="sidebar">
    <a class="nav-link" data-nav="index" href="index.html">HOME</a>
    <a class="nav-link" data-nav="sp_members" href="sp_members.html">SP MEMBERS</a>
    <a class="nav-link" data-nav="ordinances" href="ordinances.html">ORDINANCES</a>
    <a class="nav-link" data-nav="news" href="news.html">NEWS</a>
    <a class="nav-link" data-nav="events" href="events.html">EVENTS</a>
</nav>



