*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #dbd9d3;
    margin: 0;
    height: 100vh;
}
.header{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;  /* stack items vertically */
    justify-content: center; /* center vertically inside header */
    align-items: center; /* center horizontally */
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;  /* keeps it above other elements */
}
.header img{
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title, .sub-title{
    
    text-align: center;
}